<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Movie</title>
    <script src="randomize.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WYW</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/watchlist">Watchlist</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/randomize">Randomizer</a>
                </li>
            </ul>
            <span class="navbar-text">
                [ <%= username %> ] 
            </span>
            <form action="/auth/logout" method="post" class="d-flex">
                <button class="btn btn-outline-success" type="submit" name="Logout" value = "Logout">Logout</button>
            </form>
            </div>
        </div>
    </nav>

    <!-- Pills navs -->
    <ul class="nav nav-fill nav-tabs" id="tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="movie-tab" data-bs-toggle="tab" href="#movie-tabpanel" role="tab" aria-controls="movie-tabpanel" aria-selected="true">Movies</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tv-tab" data-bs-toggle="tab" href="#tv-tabpanel" role="tab" aria-controls="tv-tabpanel" aria-selected="false">TV Shows</a>
        </li>
    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div class="tab-content pt-5" id="tab-content">
        <div class="tab-pane active" id="movie-tabpanel" role="tabpanel" aria-labelledby="movie-tab">
            
        </div>

        <div class="tab-pane" id="tv-tabpanel" role="tabpanel" aria-labelledby="tv-tab">
            
        </div>
    </div>
    <!-- Pills content -->

    <!-- Radio buttons to choose between Movie or TV -->
    <div>
        <label><input type="radio" name="media-type" value="movie" checked> Movie</label>
        <label><input type="radio" name="media-type" value="tv"> TV</label>
        <label hidden><input type="radio" name="media-type" value="all"> Both</label>
    </div>

    <div>
        <label for="genre-select">Select Genre:</label>
        <select id="genre-select">
            <option value="">All</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Action">Action</option>
        </select>
    </div>
    
    <!-- Button to trigger randomizer -->
    <button id="randomize-button">Pick something for me</button>
        
    <!-- Display random selection -->
    <div id="random-selection"></div>

    <form action="/auth/logout" method="post">
        <input type="submit" name="Logout" value = "Logout">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>          
</body>
</html>