<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>
    <script src="watchlist.js" defer></script>
</head>
<body>
    <h2>Your Watchlist</h2>
    <a href="/randomize" >Randomizer</a>

    <% if (user) { %>
        <p>Welcome, <%= user.username %>!</p>
        <p>Your User ID is: <%= user.id %></p>
        <script>
            const userId = '<%= JSON.stringify(user.id) %>'; // Embed the user ID from the server-side EJS rendering
            console.log("User ID:", userId);
        </script>
    <% } else { %>
        <p>Please log in to see your watchlist.</p>
    <% } %>

    <h3>Search for Movies</h3>
    <input type="text" id="movie-search-input" placeholder="Enter movie title">
    <button id="movie-search-button">Search</button>
    
    <div id="movie-search-results"></div>

    <h3>Search for TV Shows</h3>
    <input type="text" id="tv-search-input" placeholder="Enter tv show title">
    <button id="tv-search-button">Search</button>
    
    <div id="tv-search-results"></div>

    <h1>Add API References below</h1>

    <script>
    </script>
</body>
</html>